.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;

    /* we want the after psuedo elmenet of this button to hide behind this
  button, hence set position relative on this btn itself */
    position: relative;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    /* this style will only be applied on hover of the after psuedo-element
of the btn */

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-dark-grey;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    /* this will apply the start styles of animation before the animation starts */
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;

    // custom underline
    border-bottom: 0.1rem solid $color-primary;
    padding: 0.3rem;

    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;

    // move up and cast a large shadow on hover
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: (translateY(-2px));
  }

  &:active {
    // move down again and cast a small shadow on click
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: (translateY(0));
  }
}
