/* GENERAL SETTINGS FOR * AND BODY */
/* Better practice to write * like this with psuedo-elements and
set box-sizing like this, not just on * */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
