.section-about {
  background-color: $color-grey-light-1;

  //   The below two people will hide the white bg cuz of the clip-path
  // property on hero sections bottom border
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.808),
      rgba($color-primary-dark, 0.808)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;

  // skew the entire section on Y axis
  transform: skewY(-7deg);

  margin-top: -10rem;

  // Direct selector to straighten the row which is a direct
  // children of the section-feature
  // if we use & *, this will select all the children and keep
  // skewing the nested children more
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem;
}
